--extra-index-url https://download.pytorch.org/whl/cu118

numpy
requests
tqdm
psutil
roman
beautifulsoup4
EbookLib
pyyaml
scikit-learn

torch
torchvision
torchaudio
pyannote.audio
audiosegment

spacy
spacy-transformers
spacy_download
langdetect
