--extra-index-url https://download.pytorch.org/whl/cu118

ordered-set
numpy
requests
tqdm
psutil
roman
beautifulsoup4
EbookLib
pyyaml
scikit-learn
XlsxWriter

torch
torchvision
torchaudio
pyannote.audio
audiosegment

spacy
spacy-transformers
spacy_download
langdetect
